{% assign categories = ""%}
{% if include.path contains "posts" %}
{% comment %} posts are like /docs/python/_posts/2016-06-06-foobar.md {% endcomment %}
{% assign categories = include.path | split:"/" | pop %}
{% else %}
{% comment %} pages are like /docs/python/index.md {% endcomment %}
{% assign categories = include.path | split:"/" | pop  %}
{% endif %}
{% assign route="" %}

<a href="{{ site.url }}{{ site.baseurl }}/" class="breadcrumbs-home"><i class="material-icons">home</i></a>
{% for category in categories %}
<span class="prompt"><i class="material-icons">navigate_next</i></span>
{% assign route = route | append: '/' | append: category %}
{% if forloop.last and category == "_posts" %}
{{ include.title | capitalize }}
{% elsif forloop.last %}
{{ category }}
{% else %}
<a href="{{ site.url }}{{ site.baseurl }}{{ route }}/">{{ category | capitalize }}</a> 
{% endif %}
{% endfor %}