<!-- Amazon bottom ads -->
<div class="container">
  <script type="text/javascript">
    amzn_assoc_placement = "adunit0";
    amzn_assoc_search_bar = "false";
    amzn_assoc_tracking_id = "mediunma0d-20";
    amzn_assoc_ad_mode = "manual";
    amzn_assoc_ad_type = "smart";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    amzn_assoc_title = "Awesome Gear";
    amzn_assoc_linkid = "bd3d8c9c41ddae9f621d91f49591fe38";
    amzn_assoc_asins = "B01606KJ6C,B01H3V07EW,B00I8BICB2,B00YD548Q0";
  </script>
  <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
</div>

<footer class="white grey-text text-lighten-2">
  <div class="footer-copyright">
    <div class="container center-align">
      &copy; {{ site.time | date: '%Y' }} {{site.title}}
    </div>
  </div>
</footer>