<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{%if paginator %} - page {{ paginator.page }}{% endif %}</title>
<meta name="description" content="{{ page.excerpt | strip_html | strip_newlines }}"/>
<meta name="twitter:card" content="{{ page.excerpt | strip_html | strip_newlines }}" />
{% if site.twitter %}
<meta name="twitter:site" content="@{{ site.twitter }}" />
<meta name="twitter:creator" content="@{{ site.twitter }}" />
{% endif %}
<meta property="og:url" content="{{ site.url }}/{{ page.path }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}" />
<meta property="og:image" content="{{ page.image }}" />
<link rel="icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}/assets/favicon.png" />