<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-40605352-13', 'auto');
  ga('require', 'cleanUrlTracker');
  ga('require', 'eventTracker');
  ga('require', 'impressionTracker');
  ga('require', 'maxScrollTracker');
  ga('require', 'mediaQueryTracker');
  ga('require', 'outboundFormTracker');
  ga('require', 'outboundLinkTracker');
  ga('require', 'pageVisibilityTracker');
  ga('require', 'socialWidgetTracker');
  ga('require', 'urlChangeTracker');
  ga('send', 'pageview');
  $('.cta a').css('left', $('.cta a').width());
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.3.0/autotrack.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.3/isotope.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothState.js/0.7.2/jquery.smoothState.min.js"></script>
<script>
  $(function(){
    $(".button-collapse").sideNav();
    $('.parallax').parallax();
    $('.row').isotope({
      itemSelector: '.col'
    });
    var ctaWidth = "calc(50% - " + ($('.cta a').width()/2) + "px)";
    $('.cta a').css('left', ctaWidth);
    'use strict';
    var $page = $('#main'),
        options = {
          debug: true,
          prefetch: true,
          cacheLength: 2,
          onStart: {
            duration: 300, // Duration of our animation
            render: function ($container) {
              // Add your CSS animation reversing class
              $container.addClass('is-exiting');
              // Restart your animation
              smoothState.restartCSSAnimations();
              $('.button-collapse').sideNav('hide');
            }
          },
          onReady: {
            duration: 0,
            render: function ($container, $newContent) {
              // Remove your CSS animation reversing class
              $container.removeClass('is-exiting');
              // Inject the new content
              $container.html($newContent);
            }
          },
          onAfter: function($container, $newContent) {
            $(".button-collapse").sideNav();
            $('.parallax').parallax();
            $('.row').isotope({
              itemSelector: '.col'
            });
            var ctaWidth = "calc(50% - " + ($('.cta a').width()/2) + "px)";
            $('.cta a').css('left', ctaWidth);
          }
        },
        smoothState = $page.smoothState(options).data('smoothState');
  });

</script>