{% capture include_to_scssify %}
  {% include css/materialize.min.css %}
  {% include css/font-material-icons.css %}
{% endcapture %}
{{ include_to_scssify | scssify | strip_newlines  }}

a {
  color: #3f51b5;
}

nav .brand-logo {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin-right: 0.5em;
    width: 50px;
  }
}
.breadcrumbs-home {
  position: relative;
  bottom: -0.5em;
}
.about {
  margin: 1em auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.crumb {
  text-transform: capitalize;
}
.date {
  color: rgba(0, 0, 0, 0.8);
  padding: 0.5em 0;
}
.flow-text:first-of-type {
  margin-top: 0;
}
.headline {
  color: white;
  margin: 0.25em 0;
  position: absolute;
  bottom: 0;
}
.hero {
  background: rgba(0, 0, 0, 0.6);
  z-index: 20;
  height: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
}

.nav-wrapper {
  position: relative;
  z-index: 25;
}
.posts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  a {
    position: relative;
    background-size: cover;
    height: 250px;
    display: block;
    span {
      position: absolute;
      bottom: 0;
      color: white;
      background: rgba(0, 0, 0, 0.8);
      padding: 0.5em;
      width: 100%;
    }
  }
}
@media (min-width: 800px) {
  .post {
    width: 50%;
  }
}
.prompt {
  position: relative;
  bottom: -0.5em;
  color: rgba(0, 0, 0, 0.2);
}

.pull-right {
  float: right;
}

nav {
  position: relative;
  z-index: 55;
}

// Navbar
#sidenav-overlay {
  z-index: 50;
}

// Keyframes
@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeUp {
  0% {opacity: 0; transform: translate3d(0, 100%, 0);}
  100% {opacity: 1; transform: none;}
}
@keyframes fadeUp10 {
  0% {opacity: 0; transform: translate3d(0, 10%, 0);}
  100% {opacity: 1; transform: none;}
}
@keyframes fadeDown {
  0% {opacity: 0; transform: translate3d(0, -100%, 0);}
  100% {opacity: 1; transform: none;}
}
@keyframes fadeDown10 {
  0% {opacity: 0; transform: translate3d(0, -10%, 0);}
  100% {opacity: 1; transform: none;}
}
@keyframes fadeRight {
  0% {opacity: 0; transform: translate3d(-100%, 0, 0);}
  100% {opacity: 1; transform: none;}
}
@keyframes fadeBig {
  0% {opacity: 0; transform: scale(0.5);}
  100% {opacity: 1; transform: scale(1);}
}

// Page animations
.m-scene .scene-element {
  animation-duration: 0.3s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}
.is-exiting .scene-element {
  animation-direction: alternate-reverse;
}
.m-scene .scene-element--fade {animation-name: fade;}
.m-scene .scene-element--fadeUp {animation-name: fadeUp;}
.m-scene .scene-element--fadeUp10 {animation-name: fadeUp10;}
.m-scene .scene-element--fadeDown {animation-name: fadeDown;}
.m-scene .scene-element--fadeDown10 {animation-name: fadeDown10;}
.m-scene .scene-element--fadeRight {animation-name: fadeRight;}
.m-scene .scene-element--fadeBig {animation-name: fadeBig;}